body{
    padding: 0;
    margin: 0;
}
p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 26px;
    padding-bottom: 45px;

}
h2{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 50px;
    margin-top: 27px;
}


.box1{
    padding: 50px 50px;
    background-color: hsl(31, 77%, 52%);
    width: 14%;
    height:400px;
    margin-top: 120px;
    position: absolute;
    left: 18rem;
    border-radius: 10px 0 0 10px;

}
.box2{
    padding: 50px 50px;
    background-color: hsl(184, 100%, 22%);
    width: 14%;
    height:400px;
    margin-top: 120px;
    position: absolute;
    left:37rem;
    

}
.box3{
    padding: 50px 50px;
    background-color: hsl(179, 100%, 13%);
    width: 14%;
    height:400px;
    margin-top: 120px;
    position: absolute;
    right:20rem;
    border-radius: 0 10px 10px 0;

}

button{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

@media (max-width:700px){
    .box1{
        width: 200px;
        margin-top: 25px;
        display: block;
        position: relative;
        margin: 20px 10px;
        height: max-content;
        left: 1px;
        margin-left: 30px;
    }

    .box2{
        width: 200px;
        margin-top: 25px;
        display: block;
        position: relative;
        margin: 20px 10px;
        height: max-content;
        left: 1px;
        margin-left: 30px;
    }
    .box3{
        width: 200px;
        margin-top: 25px;
        display: block;
        position: relative;
        margin: 20px 10px;
        height: max-content;
        left: 1px;
        margin-left: 30px;
    }

}